
.spacing {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  margin: .5rem;
}

.header {
  width: 10%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.25rem;
  font-weight: bold;
  list-style: none;
}

.list {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  margin: 0.5rem;
  align-items: center;
  text-indent: 10px;
}