.gridContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 350px;
    grid-auto-rows: minmax(250px, auto);
    grid-gap: 10px;
    grid-template-areas:
        "header header"
        "sidebar footer"
        "sidebar footer"
        "content content"
}

.font {
    font-weight:normal;
    font-size: 12px;
}

.a {
    font-weight:bolder;
    font-size:16px;
    text-decoration: underline;
}
.h1 {
    font-weight:bolder;
    font-size:20px;
}

.grid1 {
    grid-area: header;
    font-weight: bold;
    margin: auto;
}

.grid2 {
    grid-area: sidebar;
    font-weight: bold;
}
.grid3 {
    grid-area: content;
    font-weight: bold;
}
.grid4 {
    grid-area: footer;
    font-weight: bold;
}